@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #029ae0;
    --primary-100: #073044;
    --primary-200: #415a66;
    --primary-300: #017cb3;
    --primary-400: #50b6e6;
    --background: #1b0f29;
    --background-100: #06282b;
    --background-200: #3b3c3f;
    --icon-char-bg-color0: #78b4b1;
    --icon-char-bg-color1: #25a1c7;
    --icon-char-bg-color2: #89887f;
    --icon-char-bg-color3: #a8852b;
    --icon-char-bg-color4: #c86648;
    --font-xs: 10px;
    --font-sm: 12px;
    --font-base: 14px;
    --font-lg: 16px;
    --font-xl: 18px;
    --font-2xl: 20px;
    --font-3xl: 22px;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 'sidebar content';
    height: 100vh;
    background-color: var(--background);
    color: #fff;
    /* overflow: hidden; */
}

/* General Styles */

h2 {
    font-size: var(--font-3xl)
}

h3 {
    font-size: var(--font-2xl)
}

h4 {
    font-size: var(--font-xl)
}

h5 {
    font-size: var(--font-lg)
}


button {
    padding: 8px 15px;
    cursor: pointer;
    height: 40px;
    font-size: 14px;
    background-color: var(--primary);
    color: white;
    border-radius: 100px;
    border: none;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

button:hover {
    background-color: var(--primary-400);
}
#import-projects-btn, #export-projects-btn {
    padding: 8px;
    cursor: pointer;
    height: 14px;
    font-size: 14px;
    background-color: transparent;
    color: white;
    border-radius: 100px;
    border: none;
    display: flex;
    align-items: center;
    /* column-gap: 5px; */
}

#import-projects-btn:hover, #export-projects-btn:hover {
    background-color: var(--primary);
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* SideBar Styles */

#sidebar {
    background-color: var(--background-100);
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#company-logo {
    height: 65px;
}

#nav-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#nav-buttons li {
    list-style-type: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#nav-buttons li:hover {
    background-color: var(--primary);

}

/* Content Styles */

#content {

    
}

header {
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-card {
    background-color: var(--background-100);
    border-radius: 8px;
    cursor: pointer;
}

.project-card:hover {
    outline: 2px solid var(--primary);
}


.card-header {
    display: flex;
    column-gap: 20px;
    padding: 15px 20px;
    align-items: center;
    justify-content: start;
    border-bottom: 2px solid #3b3c3f;
    height: 60px;
}

.card-content {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
}

.card-property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#projects-list {
    display: grid;
    padding: 20px 40px;
    gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
}

#users-table {
    height: 300px;
    margin: 40px;
    /* background-color: var(--background-100); */
    border-spacing: 10px 10px;
}

#users-table tr {
    height: 50px;
    text-align: center;    
    border: 5px solid white;
    background-color: var(--background-100);
    
}
#users-table tr:hover {
    border: 10px solid white;
    background-color: var(--primary);

}



/* Form Styles */

dialog {
    background-color: transparent;
    border: none;
    margin: auto;
}
/*Pseudo ::backdrop Element*/
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

form {
    width: 450px;
    border-radius: 10px;
    background-color: var(--background-100);
    color: white;
}

form h2 {
    padding: 20px;
    border-bottom: 2px solid var(--background-200);
}

form .input-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 25px;
}

form .form-field-container {
    display: flex;
    flex-direction: column;
}

label {
    font-size: var(--font-base);
    margin-bottom: 10px;
    font-weight: 500;
    color: rgba(150, 150, 150, 1);
    display: flex;
    align-items: center;
    column-gap: 5px;
}

input, textarea, select {
    color: white;
    background-color: var(--background-200);
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: var(--font-base);
}

input:focus, textarea:focus, select:focus {
    outline: 2px solid var(--primary);
}

/* Project details page */

.dashboard-card {
    background-color: var(--background-100);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#project-details > .main-page-content {
    display: grid;
    padding: 20px 40px;
    gap: 30px;
    grid-template-columns: 475px 1fr;
    height: 100%;
}

.btn-secondary {
    background-color: transparent;
    outline: 2px solid #969696;
    width: 100px;
    text-align: center;
}

.btn-secondary:hover {
    background-color: var(--primary);
    outline: none;
}

.todo-item {
    padding: 20px;
    background-color: var(--background-200);
    border-radius: 10px;
    cursor: pointer;
}

.todo-item:hover {
    background-color: var(--primary);
}

/* Error Message Dialog Style */
#error-message-modal,
#edit-error-message-modal {
    background-color: var(--background-100);
    width: 450px;
    padding: 25px 15px 10px;
    border-radius: 20px;
    outline: 3px solid #ca8134;
}

#error-message-modal h2,
#edit-error-message-modal h2 {
    color: #ca8134;
    border-bottom: 2px solid var(--background);
}
#error-message-modal .material-icons-round,
#edit-error-message-modal .material-icons-round  {
    color: #ca8134;
    font-size: 46px;
}

#error-message-modal button, 
#edit-error-message-modal button {
    background-color: #ca8134;
}

.form-error-message {
    padding: 20px;
    /* background-color: var(--background-100); */
}

#error-message, 
#edit-error-message {
    color: white;
}
